<a href="https://colab.research.google.com/github/zalosh12/pyspark_exercises/blob/master/01_Getting_%26_Knowing_Your_Data/Occupation/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex3 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType

spark = SparkSession.builder \
    .appName("MyApp") \
    .getOrCreate()

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

In [4]:
!wget -O users.csv https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user

--2025-12-01 17:34:15--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 22667 (22K) [text/plain]
Saving to: ‘users.csv’

users.csv           100%[===================>]  22.14K  --.-KB/s    in 0s

2025-12-01 17:34:15 (87.7 MB/s) - ‘users.csv’ saved [22667/22667]

### Step 3. Assign it to a variable called users and use the 'user_id' as index

In [5]:
users = spark.read.csv('users.csv',header=True,sep="\t", inferSchema=True)

### Step 4. See the first 25 entries

In [6]:
users.show(25)

+--------------------------------------+
|user_id|age|gender|occupation|zip_code|
+--------------------------------------+
|                  1|24|M|technician...|
|                    2|53|F|other|94043|
|                   3|23|M|writer|32067|
|                  4|24|M|technician...|
|                    5|33|F|other|15213|
|                  6|42|M|executive|...|
|                  7|57|M|administra...|
|                  8|36|M|administra...|
|                  9|29|M|student|01002|
|                  10|53|M|lawyer|90703|
|                   11|39|F|other|30329|
|                   12|28|F|other|06405|
|                  13|47|M|educator|...|
|                  14|45|M|scientist...|
|                  15|49|F|educator|...|
|                  16|21|M|entertain...|
|                  17|30|M|programme...|
|                   18|35|F|other|37212|
|                  19|40|M|librarian...|
|                  20|42|F|homemaker...|
|                  21|26|M|writer|30068|
|                  22|25|M|writer|40206|
|                  23|30|F|artist|48197|
|                  24|21|F|artist|94533|
|                  25|39|M|engineer|...|
+--------------------------------------+
only showing top 25 rows

### Step 5. See the last 10 entries

### Step 6. What is the number of observations in the dataset?

### Step 7. What is the number of columns in the dataset?

### Step 8. Print the name of all the columns.

### Step 9. How is the dataset indexed?

### Step 10. What is the data type of each column?

### Step 11. Print only the occupation column

### Step 12. How many different occupations are in this dataset?

### Step 13. What is the most frequent occupation?

### Step 14. Summarize the DataFrame.

### Step 15. Summarize all the columns

### Step 16. Summarize only the occupation column

### Step 17. What is the mean age of users?

### Step 18. What is the age with least occurrence?