<a href="https://colab.research.google.com/github/zalosh12/pyspark_exercises/blob/master/02_Filtering_%26_Sorting/Chipotle/Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.types import FloatType

spark = (
    SparkSession.builder
    .appName("MyApp")
    .getOrCreate()
    )

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
!wget -O chipotle.csv https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv

--2025-12-01 18:50:57--  https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.109.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 364975 (356K) [text/plain]
Saving to: ‘chipotle.csv’

chipotle.csv        100%[===================>] 356.42K  --.-KB/s    in 0.03s

2025-12-01 18:50:57 (10.7 MB/s) - ‘chipotle.csv’ saved [364975/364975]

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = spark.read.csv('chipotle.csv',header=True,sep="\t", inferSchema=True)

In [4]:
chipo.printSchema()

root
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

### Step 4. How many products cost more than $10.00?

In [44]:
chipo = chipo.withColumn(
    'item_price_float',
    F.regexp_replace('item_price','[$]', '')
    .cast(FloatType()) / F.col('quantity')
    )

expensive_items = (
    chipo.filter(F.col('item_price_float') > 10)
    .select(F.col('item_name'),F.col('choice_description'))
    .distinct()
    .count()
)

expensive_items

707

### Step 5. What is the price of each item?
###### print a data frame with only two columns item_name and item_price

In [48]:
chipo.select(F.col('item_name'),F.col('choice_description'),F.col('item_price')).show()

+--------------------+--------------------+----------+
|           item_name|  choice_description|item_price|
+--------------------+--------------------+----------+
|Chips and Fresh T...|                NULL|    $2.39 |
|                Izze|        [Clementine]|    $3.39 |
|    Nantucket Nectar|             [Apple]|    $3.39 |
|Chips and Tomatil...|                NULL|    $2.39 |
|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |
|       Side of Chips|                NULL|    $1.69 |
|       Steak Burrito|[Tomatillo Red Ch...|   $11.75 |
|    Steak Soft Tacos|[Tomatillo Green ...|    $9.25 |
|       Steak Burrito|[Fresh Tomato Sal...|    $9.25 |
| Chips and Guacamole|                NULL|    $4.45 |
|Chicken Crispy Tacos|[Roasted Chili Co...|    $8.75 |
|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
|        Chicken Bowl|[Fresh Tomato Sal...|   $11.25 |
| Chips and Guacamole|                NULL|    $4.45 |
|Chips and Tomatil...|                NULL|    $2.39 |
|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
|     Chicken Burrito|[Fresh Tomato Sal...|    $8.49 |
|         Canned Soda|            [Sprite]|    $2.18 |
|        Chicken Bowl|[Tomatillo Red Ch...|    $8.75 |
+--------------------+--------------------+----------+
only showing top 20 rows

### Step 6. Sort by the name of the item

In [45]:
chipo.orderBy(F.col('item_name')).show()

+--------+--------+-----------------+------------------+----------+-----------------+
|order_id|quantity|        item_name|choice_description|item_price| item_price_float|
+--------+--------+-----------------+------------------+----------+-----------------+
|     511|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|    1253|       1|6 Pack Soft Drink|        [Lemonade]|    $6.49 |6.489999771118164|
|     520|       1|6 Pack Soft Drink|          [Sprite]|    $6.49 |6.489999771118164|
|     148|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     566|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     168|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     708|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     230|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     709|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     298|       1|6 Pack Soft Drink|          [Nestea]|    $6.49 |6.489999771118164|
|     749|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     363|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     754|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     432|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     774|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     481|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     776|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|     849|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
|    1248|       1|6 Pack Soft Drink|       [Diet Coke]|    $6.49 |6.489999771118164|
|     899|       1|6 Pack Soft Drink|            [Coke]|    $6.49 |6.489999771118164|
+--------+--------+-----------------+------------------+----------+-----------------+
only showing top 20 rows

### Step 7. What was the quantity of the most expensive item ordered?

In [55]:
most_expensive_row = chipo.orderBy(F.desc("item_price_float")).first()

filtered = chipo.filter(F.col('item_price_float') == most_expensive_row)

# most_expensive_quantity

SparkRuntimeException: [UNSUPPORTED_FEATURE.LITERAL_TYPE] The feature is not supported: Literal for '[123, 2, Steak Salad Bowl, [Tomatillo Red Chili Salsa, [Black Beans, Cheese, Guacamole]], $23.78 , 11.890000343322754]' of class java.util.ArrayList.

In [51]:
most_expensive_row = chipo.orderBy(F.desc("item_price_float")).show()

+--------+--------+-------------------+--------------------+----------+------------------+
|order_id|quantity|          item_name|  choice_description|item_price|  item_price_float|
+--------+--------+-------------------+--------------------+----------+------------------+
|     250|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|    1283|       1|Barbacoa Salad Bowl|[Tomatillo Red Ch...|   $11.89 |11.890000343322754|
|     253|       2|   Steak Salad Bowl|[Tomatillo Red Ch...|   $23.78 |11.890000343322754|
|     644|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     734|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     123|       2|   Steak Salad Bowl|[Tomatillo Red Ch...|   $23.78 |11.890000343322754|
|     953|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     468|       1|Carnitas Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     969|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     501|       1|Barbacoa Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     970|       1|Barbacoa Salad Bowl|[Tomatillo Green ...|   $11.89 |11.890000343322754|
|     541|       1|Barbacoa Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|    1035|       1|Carnitas Salad Bowl|[Roasted Chili Co...|   $11.89 |11.890000343322754|
|     637|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|    1088|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|     309|       1|   Steak Salad Bowl|[Roasted Chili Co...|   $11.89 |11.890000343322754|
|    1114|       1|   Steak Salad Bowl|[Tomatillo Red Ch...|   $11.89 |11.890000343322754|
|     534|       1|   Steak Salad Bowl|[Roasted Chili Co...|   $11.89 |11.890000343322754|
|    1176|       1|   Steak Salad Bowl|[Fresh Tomato Sal...|   $11.89 |11.890000343322754|
|    1244|       1|   Steak Salad Bowl|[Roasted Chili Co...|   $11.89 |11.890000343322754|
+--------+--------+-------------------+--------------------+----------+------------------+
only showing top 20 rows

### Step 8. How many times was a Veggie Salad Bowl ordered?

### Step 9. How many times did someone order more than one Canned Soda?